#ScrapeMate {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999;
    width: 350px;
    height: 100%;
    border: 0;
    opacity: 0.92;
    background: #888 !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
#ScrapeMate.ScrapeMate_left {
    right: auto;
    left: 0;
}
#ScrapeMate.ScrapeMate_picking {
    /* outline: 4px dashed #00000096; */
}

.ScrapeMate_highlighted {
    outline: 2px #6495ed dashed !important;
    box-shadow: 0 0 100px #ffff00b5 inset !important;
}
img.ScrapeMate_highlighted, .ScrapeMate_highlighted > * {
    opacity: .8;
}

.selectorgadget_suggested {
    background-color: #FF5 !important;
    background-image: none !important;
    outline: 1px dashed #FF5 !important;
    box-shadow: 0 0 2px #FF5 !important;
}

.selectorgadget_selected {
    background-color: #0F0 !important;
    background-image: none !important;
    outline: 1px dashed #0F0 !important;
    box-shadow: 0 0 4px #0F0 !important;
}

.selectorgadget_rejected {
    background-color: #F00 !important;
    background-image: none !important;
    outline: 1px dashed #F00 !important;
    box-shadow: 0 0 4px #F00 !important;
}
